{{#if nodeData}}
  <h5 class="h5">
    <span class="text-capitalize">
      {{nodeData.nodeType}}
    </span>
    Info
  </h5>
  <p>
    {{nodeName}}
  </p>
  {{annotation-status-badge statusId=nodeData.annotationStatusId}}
  {{! <canvas
          class="ChemDoodleWebComponent molecule"
          id="${id}" width="200" height="200"
          alt="ChemDoodle Web Component"
          style="width: 100px; height: 100px; background-color: rgb(255, 255, 255);">
            This browser does not support HTML5/Canvas.
        </canvas> }}
  <div id="chem-draw">
    {{displayMolDraw}}
  </div>
  {{#if nodeData.smiles}}
    <h6 class="h6">
      SMILES
    </h6>
    <div class="smiles-display m-2">
      <input
        class="value"
        type="text"
        value={{nodeData.smiles}}
        id="node-smiles"
      />
      <button
        type="button"
        class="btn btn-light btn-sm"
        {{action "copySmiles"}}
      >
        Copy
      </button>
    </div>
  {{/if}}
  {{#if cosineData}}
    <h6 class="h6">
      Matching ion(s)
    </h6>
    <table class="table">
      <thead>
        <tr>
          <th>
            Ion ID
          </th>
          <th>
            Cosine
          </th>
          <th>
            Annotation
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each cosineData as |ionCosine|}}
          {{metabo-graph-node-annot
            ionCosine=ionCosine
            nodeData=nodeData
            project=project
            reloadMetabolizationNetwork=reloadMetabolizationNetwork
          }}
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if nodeData.publicProjects}}
    <h6 class="h6">
      Matching in public projects
    </h6>
    <p>
      {{publicProjects}}
    </p>
    <ul class="list-group">
      {{#each nodeData.publicProjects as |publicProject|}}
        <LinkTo
          @route="projects.show"
          @model="{{publicProject.id}}"
          class="list-group-item list-group-item-action"
        >
          {{publicProject.name}}
        </LinkTo>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}