<td style="cursor: pointer;" {{action "selectAnnot" ionCosine}}>
  {{ionCosine.ionId}}
</td>
<td>
  {{ionCosine.cosine}}
</td>
<td>
  {{#if (not nodeData.annotationId)}}
    <button
      type="button"
      class="btn btn-warning btn-sm"
      {{action "annotateIon" ionCosine.ionId}}
    >
      Annotate
    </button>
  {{else if (eq nodeData.annotationId ionCosine.ionId)}}
    <i class="text-warning">
      Annotated
    </i>
  {{/if}}
</td>