<!-- nav-tabs -->
<ul class="nav nav-pills nav-stacked">
  {{#each navDisplays as |nav|}}
    <li>
      <a
        class="nav-link {{if (eq model.activeNav nav.toggle) "active"}}"
        href="#"
        {{action "navigateTo" nav.toggle}}
      >
        {{nav.libelle}}
      </a>
    </li>
  {{/each}}
</ul>