$primary-color: #073877;
$secondary-color: #636a71;
$success-color: #409f40; 
$warning-color: #c89111; 
$info-color: rgb(83,139,214);
$danger-color: #c82b11;

$border-color: rgba(0, 0, 0, 0.125);

$theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "success": $success-color,
    "warning": $warning-color,
    "info": $info-color,
    "danger": $danger-color,
);
