<div style="max-width: 600px;">
  <div class="d-flex mb-4">
    <div class="w-100">
      <h3 class="mr-auto">
        Fragmentation sample info
      </h3>
      <div style="max-width: 400px;">
        {{tag-manager model=model isEditing=true}}
      </div>
    </div>
    <div class="fragsampe-info-btn">
      {{#bs-button
        class="btn mb-1 mr-1"
        type="warning"
        onClick=(action "save_fragsample")
      }}
        Save info
      {{/bs-button}}
      {{#bs-button
        class="btn mb-1"
        type="primary"
        onClick=(action "getFile" "mgf" model.file_name)
      }}
        {{svg-jar "cloud-download" class="octicon"}}.mgf
      {{/bs-button}}
    </div>
  </div>
  <div style="max-width: 400px;">
    <p>
      <b>
        File Name :
      </b>
      {{model.file_name}}
    </p>
    <p>
      <b>
        Number of ions in sample :
      </b>
      {{model.ions_count}}
    </p>
    <p>
      <b>
        Ion charge :
      </b>
      {{model.ion_charge}}
    </p>
    <form>
      <div class="form-group">
        <label>
          Name
        </label>
        {{input value=model.name model=model class="form-control"}}
      </div>
      <div class="form-group">
        <label>
          Description
        </label>
        {{textarea
          value=model.description
          model=model
          class="form-control"
          rows="3"
        }}
      </div>
    </form>
  </div>
</div>