{{#if model.runFinish}}
  <div class="d-flex">
    <div class="mr-auto">
      <h5 class="d-inline">
        Metabolization Network
      </h5>
    </div>
    <div>
      {{#bs-button
        type="info"
        class="m-1 btn-sm"
        onClick=(action "toggleDisplayNodeName")
      }}
        Display
        {{#if (eq displayNodeName "parent_mass")}}
          cosines
        {{else}}
          mass
        {{/if}}
      {{/bs-button}}
      {{#bs-button
        type="secondary"
        class="m-1 btn-sm"
        onClick=(action "reloadMetabolizationNetwork")
      }}
        {{svg-jar "sync" class="octicon"}}
      {{/bs-button}}
      {{#bs-button
        type="warning"
        class="m-1 btn-sm"
        onClick=(action "downloadSVG")
      }}
        {{svg-jar "cloud-download" class="octicon"}}.svg
      {{/bs-button}}
    </div>
  </div>
  <div class="row graph {{if isGraphFullScreen "graph-full-screen"}}">
    <div class="col-md-8">
      {{graph-content
        fragSample=model
        nodeData=nodeData
        spinnerStatus=spinnerStatus
        loadNetwork=(action "reloadMetabolizationNetwork")
      }}
    </div>
    <div class="col-md-4">
      {{metabo-graph-node
        project=model
        nodeData=nodeData
        reloadMetabolizationNetwork=(action "reloadMetabolizationNetwork")
      }}
      {{GraphFitFullScreen}}
      {{#bs-button
        type="light"
        class="full-screen-button"
        onClick=(action (mut isGraphFullScreen) (not isGraphFullScreen))
      }}
        {{svg-jar "screen-full" class="octicon"}}
      {{/bs-button}}
    </div>
  </div>
{{else}}
  {{reaction-manager
    model=reactions
    modelName="reactions"
    updateDataPage=(route-action "updateDataPage")
    status=status
    customParams=customParams
    getFilter=getFilter
    project=model
    store=store
    initItemIds=model.reaction_ids
    updatedItemIds=updatedItemIds
    hasChanges=hasChanges
    projectView=true
    listSelectable=model.editable
    project_id=model.id
    selected=selected
  }}
{{/if}}